<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{{ .Title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- syntax highlighting CSS -->
        {{ $syntax := resources.Get "css/syntax.css" | fingerprint }}
        <link
            rel="stylesheet"
            href="{{ $syntax.RelPermalink }}"
            integrity="{{ $syntax.Data.Integrity }}"
        />

        <!-- Custom CSS -->
        {{ $main := resources.Get "css/main.css" | fingerprint }}
        <link
            rel="stylesheet"
            href="{{ $main.RelPermalink }}"
            integrity="{{ $main.Data.Integrity }}"
        />

        <link rel="icon" type="image/x-icon" href="/img/ico.png" />
    </head>
    <body>
        <div class="site">
            {{ block "main" . }}{{ end }}

            <div class="footer">
                <div class="contact">
                    <p>
                        Gonzalo Andreani<br />
                        Fullstack Consultant<br />
                    </p>
                </div>
                <div class="contact">
                    <p>
                        <a href="https://github.com/gonzo-beanz">github.com/gonzo-beanz</a><br />
                    </p>
                </div>
            </div>
        </div>

        <!-- Zdog 3D rendering library -->
        {{ $zdog := resources.Get "js/zdog.dist.min.js" | fingerprint }}
        <script
            src="{{ $zdog.RelPermalink }}"
            integrity="{{ $zdog.Data.Integrity }}"
        ></script>
        <!-- Zfont text rendering plugin -->
        {{ $zfont := resources.Get "js/zfont.min.js" | fingerprint }}
        <script
            src="{{ $zfont.RelPermalink }}"
            integrity="{{ $zfont.Data.Integrity }}"
        ></script>
        <!-- Logo animation script -->
        {{ $logo := resources.Get "js/logo-animation.js" | fingerprint }}
        <script
            src="{{ $logo.RelPermalink }}"
            integrity="{{ $logo.Data.Integrity }}"
        ></script>

    </body>
</html>
